.search {
    height: 35px;
    
    border: 2px solid lightgrey;
    border-radius: 5px;

    padding: 0 10px;
}

.search:focus {
    outline: none;
}

.search:focus::placeholder {
    color: transparent;
}